
@font-face {
    font-family: "IranYekan";
    src: url("../../public/iran.woff") format('woff') ;
}

.iranYekanFont{
    font-family: "IranYekan" !important;
}

.samaDirtyColor{
    color: #5a5b47 !important;
}

.samaBold{
    font-weight: 600 !important;
}

.inputLtrDirection{
    direction: ltr;
}
