
@font-face {
    font-family: "IranYekan";
    src: url("./iran.woff") ;
}

.iranYekanFont{
    font-family: "IranYekan" !important;
}

.samaDirtyColor{
    color: #5a5b47 !important;
}

.samaBold{
    font-weight: 500 !important;
}

.MuiFormLabel-root{
    font-family: "IranYekan" !important;
}